provider "aws" {
    access_key = "ACCESS_KEY_HERE"
    secret_key = "SECRET_KEY_HERE"
    region = "eu-west-1"
}

resource "aws_instance" "example" {
    ami = "ami-f0b11187"
    instance_type = "t2.micro"
    subnet_id = "subnet-XXXXXXX"
}

resource "aws_eip" "ip" {
    instance = "${aws_instance.example.id}"
    vpc = true
}
